
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" action="IformcollectionCon/add">
    <table>
        <tr>
            <th>sl#</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        <tbody>
            <tr>
                <td><input type="text" name="txt1" value="1" /></td>
                <td><input type="text" name="txt2" value="chinmay" /></td>
                <td><input type="text" name="txt3" value="bhadrak" /></td>
            </tr>
            <tr>
                <td><input type="text" name="txt1" value="2" /></td>
                <td><input type="text" name="txt2" value="chinmayn " /></td>
                <td><input type="text" name="txt3" value="bhadrakk" /></td>
            </tr>
            @*<tr>
            <td>2</td>
            <td>abyakta</td>
            <td>chandbali</td>
        </tr>*@
        </tbody>
    </table>
    <input type="submit" />
</form>

